 a {
text-decoration: none;
color: black;
}
a:hover{
    text-decoration: none;
    color: brown;
}

.homer {
    background-color: #8b091f;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }

.homer:hover{
    background-color: #0f0104;
    color:brown;
}

/*Stolen from http://brenna.github.io/csshexagon/ */

.hexagon {
    position: relative;
    width: 300px; 
    height: 173.21px;
    
    margin: 86.60px 0;
    border-left: solid 2px #333333;
    border-right: solid 2px #333333;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 41.9340px;
  }
  
  .hexagon:before {
    top: -106.0660px;
    border-top: solid 2.8284px #333333;
    border-right: solid 2.8284px #333333;
  }
  
  .hexagon:after {
    bottom: -106.0660px;
    border-bottom: solid 2.8284px #333333;
    border-left: solid 2.8284px #333333;
  }
  /*----------------*/
 